
magic: policeman_ruleset
version: 0.1
id: "allow_same_second_level_domain"
homepage: "https://github.com/futpib/policeman/wiki/Preinstalled-rulesets-description#same-second-level-domain"

l10n:
  en-US:
    name: "Same second-level domain"
    description: "Allow requests to same second-level domain"
  de-DE:
    name: "Gleiche Second-level Domain"
    description: "Erlaubt Anfragen zur selben Second-level Domain"
  fa-IR:
    name: "دامنه سطح دوم همان سایت"
    description: "اجازه درخواست ها به دامنه سطح دوم همان سایت"
  ru-RU:
    name: "Те же домены второго уровня"
    description: "Разрешает запросы к тем же доменам второго уровня"
  fr-FR:
    name: "Meme domaine de deuxième niveau"
    description: "Autoriser les requetes vers le meme domaine de deuxième niveau"

rules:
  web -> web:
    /.+\.(.+\..+)/ -> $1: ACCEPT
    /.+\.(.+\..+)/ -> *.$1: ACCEPT
