
magic: policeman_ruleset
version: 0.1
id: "allow_from_file_to_file_and_web"
homepage: "https://github.com/futpib/policeman/wiki/Preinstalled-rulesets-description#allow-from-file-to-file-or-web"

l10n:
  en-US:
    name: "Allow file -> file or web"
    description: "Allow requests from local files to local files and web"
  de-DE:
    name: "Erlaube Datei -> Datei oder Web"
    description: "Erlaubt Anfragen von lokalen Dateien zu lokalen Dateien und ins Web"
  fa-IR:
    name: "اجازه فایل -> به فایل یا وب"
    description: "اجازه درخواست ها از فایل های محلی به فایل های محلی و وب"

rules:
  file -> (file|web): ACCEPT
