
magic: policeman_ruleset
version: 0.1
id: "allow_any"
homepage: "https://github.com/futpib/policeman/wiki/Preinstalled-rulesets-description#allow-any"

l10n:
  en-US:
    name: "Allow any request"
    description: "Allow any request"
  de-DE:
    name: "Erlaube alle Anfragen"
    description: "Erlaubt alle Anfragen"
  fa-IR:
    name: "اجازه هر درخواست"
    description: "هر درخواست وبی اجازه داده میشود"
  ru-RU:
    name: "Разрешить все запросы"
    description: "Разрешает все запросы"
  fr-FR:
    name: "Autoriser toutes les requetes"
    description: "Autoriser toutes les requetes"

rules:
  -> : ACCEPT
