
magic: policeman_ruleset
version: 0.1
id: "compatibility"
homepage: "https://github.com/futpib/policeman/wiki/Preinstalled-rulesets-description#compatibility-and-workarounds"

l10n:
  en-US:
    name: "Compatibility and Workarounds"
    description: "Fixes a few known add-on and site compatibility issues"
  de-DE:
    name: "Kompatibilität und Workarounds"
    description: "Behebt ein paar bekannte Addon- und Seitenkompatibilitätsprobleme"
  fa-IR:
    name: "سازگاری و راه حل ها"
    description: "حل مشکل سازگاری تعدادی افزونه شناخته شده و سایت ها"
  ru-RU:
    name: "Совместимость и обходные приемы"
    description: "Исправляет некоторые известные проблемы с сайтами и другими расширениями"
  fr-FR:
    name: "Règle de compatibilité"
    description: "Corrige quelques problèmes de compatibilité connus avec des add-on et des sites"
  ja-JP:
    name: "Compatibility and Workarounds"
    description: "いくつかの既知のアドオンとサイトの互換性による問題の修正"

rules:
  inline -> *:
    # Jetpack-based addons use 'data:application/vnd.mozilla.xul+xml,<window/>'
    # with an iframe for toolbar popups, let's not break that
    [scheme] data -> *:
      # Only allow that for chrome xul data documents
      # Firefox won't load xul in content, so this check makes sence
      [path] "application/vnd.mozilla.xul+xml;"* -> *:
        [contentType] DOCUMENT: ACCEPT

  internal -> web:
    # Fixes KeeFox and probably other addons that comunicate with local services
    # via websockets
    [scheme] * -> ws:
      [host] * -> (localhost|"127.0.0.1"):
        [contentType] WEBSOCKET: ACCEPT

  * -> unknown:
    # This allows clicking links with schemes unclassified by `requests-info`
    # like magnet, irc, webcal, custombutton, etc
    # by allowing any documents from such schemes.
    [contentType] DOCUMENT: ACCEPT
