
magic: policeman_ruleset
version: 0.1
id: "default"
homepage: "https://github.com/futpib/policeman/wiki/Preinstalled-rulesets-description#default"

l10n:
  en-US:
    name: "Default"
    description: "Allow internal requests and navigation"
  de-DE:
    name: "Standard"
    description: "Erlaubt interne Anfragen und Navigation"
  fa-IR:
    name: "پیش فرض"
    description: "اجازه درخواست های داخلی و هدایتگر مرورگر"
  ru-RU:
    name: "По умолчанию"
    description: "Разрешает внутренние запросы и навигацию"
  fr-FR:
    name: "Par défaut"
    description: "Autoriser quelques requêtes internes essentielles à la navigation"

rules:
  # Essentials

  * -> inline: ACCEPT
  internal -> internal: ACCEPT

  internal -> (web|file):
    # allows various thing like navigation from chrome pages to web and
    # iframes on chrome pages (addons page has one)
    # kind of entry point for document load
    [contentType] (DOCUMENT|SUBDOCUMENT): ACCEPT

  web -> web:
    # allows opening links on web pages
    [contentType] DOCUMENT: ACCEPT

  (web|file) -> internal:
    # top-level media player and image viewer require internal styles
    [contentType] STYLESHEET: ACCEPT

  * -> *:
    # Allows requests having system principal
    # TODO A lot of addons seem to be using nsIHTTPChannel and for now this is
    # the most obvious way not to break them. But this also allows favicon and
    # google safebrowsing (and maybe more) requests that may be unwanted by
    # user. This is hopefully a temporary solution until a good way of dealing
    # with such requests is developed
    [specialPrincipal] system: ACCEPT

  * -> *:
    # Allows requests hooked by "http-on-modify-request" observer
    # TODO Highly related to the above todo, this effectively makes the observer
    # hook useless (except for requests mangled by lib/request-info).
    [hook] modifyRequest: ACCEPT
