
version: 0.1
id: "default"

l10n:
  en-US:
    name: "Default"
    description: "Allow internal requests and navigation"

rules:
  internal -> (internal|inline): ACCEPT
  web -> inline: ACCEPT

  internal -> web:
    # allows various thing like navigation from chrome pages to web and
    # iframes on chrome pages (addons page has one)
    # kind of entry point for page loads
    [contentType] (DOCUMENT|SUBDOCUMENT): ACCEPT

  web -> web:
    # allows opening links on web pages
    [contentType] DOCUMENT: ACCEPT

