
magic: policeman_ruleset
version: 0.1
id: "default"
homepage: "https://github.com/futpib/policeman/wiki/Preinstalled-rulesets-description#default"

l10n:
  en-US:
    name: "Default"
    description: "Allow internal requests and navigation"
  de-DE:
    name: "Standard"
    description: "Erlaubt interne Anfragen und Navigation"
  fa-IR:
    name: "پیش فرض"
    description: "اجازه درخواست های داخلی و هدایتگر مرورگر"
  ru-RU:
    name: "По умолчанию"
    description: "Разрешает внутренние запросы и навигацию"
  fr-FR:
    name: "Par défaut"
    description: "Autoriser quelques requêtes internes essentielles à la navigation"
  ja-JP:
    name: "Default"
    description: "内部の要求とナビゲーションを許可します"

rules:
  # Allows requests for inline and internal schemes
  # (no networking involved here anyway)
  * -> (inline|internal): ACCEPT

  # Allows requests originating from internal schemes (made by browser and addons)
  internal -> *: ACCEPT

  web -> web:
    # allows navigation (like opening links on web pages)
    [hints] navigation: ACCEPT
