
magic: policeman_ruleset
version: 0.1
id: "https_half_open_sandbox"
homepage: "https://github.com/futpib/policeman/wiki/Preinstalled-rulesets-description#https-sandbox"

l10n:
  en-US:
    name: "HTTPS sandbox"
    description: "Reject non-HTTPS requests from HTTPS pages"
  de_DE:
    name: "HTTPS Sandbox"
    description: "Blockiert Nicht-HTTPS-Anfragen von HTTPS-Seiten"
  fa-IR:
    name: "HTTPS sandbox"
    description: "رد درخواست های HTTP در صفحات HTTPS "
  ru-RU:
    name: "HTTPS-песочница"
    description: "Блокирует все не HTTPS запросы на HTTPS-страницах"
  fr-FR:
    name: "HTTPS sandbox"
    description: "Refuser les requêtes non-HTTPS depuis les sites en HTTPS"

rules:
  web -> web:
    [scheme] https -> ! (https|wss): REJECT
