
magic: policeman_ruleset
version: 0.1
id: "i2p_sandbox"

l10n:
  en-US:
    name: "I2P isolation"
    description: "Reject .i2p -> web and web -> .i2p"
  de-DE:
    name: "I2P Isolation"
    description: "Blockiert .i2p -> Web und Web -> .i2p"
  fa-IR:
    name: "I2P جداسازی"
    description: "رد .i2p -> وب و وب -> .i2p"
  ru-RU:
    name: "I2P-изоляция"
    description: "Запрещает запросы от .i2p ресурсов во внешний интернет и от внешних веб-ресусов к .i2p"
  fr-FR:
    name: "Isolation I2P"
    description: "Refuser les requêtes depuis .i2p -> web et web -> .i2p"
  ja-JP:
    name: "I2P isolation"
    description: ".i2pドメインのページでは.i2pドメインのリクエストのみ許可し、.i2pドメイン以外のページでは.i2pドメインのリクエストを禁止します。"

rules:
  web -> web:
    *.i2p -> ! *.i2p: REJECT
    ! *.i2p -> *.i2p: REJECT
