
magic: policeman_ruleset
version: 0.1
id: "onion_sandbox"

l10n:
  en-US:
    name: "Tor isolation"
    description: "Reject .onion -> web and web -> .onion"
  de-DE:
    name: "Tor Isolation"
    description: "Blockiert .onion -> Web und Web -> .onion"
  fa-IR:
    name: "Tor جداسازی"
    description: "رد .onion -> وب و وب -> .onion"
  ru-RU:
    name: "Tor-изоляция"
    description: "Запрещает запросы от .onion ресурсов во внешний интернет и от внешнего веб-содержимого к .onion"
  fr-FR:
    name: "Isolation Tor"
    description: "Refuser les requêtes depuis .onion -> web et web -> .onion"
  ja-JP:
    name: "Tor isolation"
    description: ".onionドメインのページでは.onionドメインのリクエストのみ許可し、.onionドメイン以外のページでは.onionドメインのリクエストを禁止します。"

rules:
  web -> web:
    *.onion -> ! *.onion : REJECT
    ! *.onion -> *.onion : REJECT
