
magic: policeman_ruleset
version: 0.1
id: "reject_any"
homepage: "https://github.com/futpib/policeman/wiki/Preinstalled-rulesets-description#reject-any"

l10n:
  en-US:
    name: "Reject any request"
    description: "Reject any request"
  de-DE:
    name: "Blockiere alle Anfragen"
    description: "Blockiert alle Anfragen"
  fa-IR:
    name: "رد هر درخواستی"
    description: "هر در خواست وبی مسدود میشود"
  ru-RU:
    name: "Запретить любые запросы"
    description: "Запрещает любые запросы"
  fr-FR:
    name: "Refuser toutes les requêtes"
    description: "Refuser toutes les requêtes"

rules:
  -> : REJECT
