@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("chrome://browser/content/browser.xul") {
  #policeman-popup-status-indicator-container {
    background-image: url(chrome://global/skin/icons/tabprompts-bgtexture.png);
    background-color: hsla(0,0%,10%,.5);
  }
  .policeman-popup-status-indicator-content {
    color: -moz-fieldText;
    background-color: -moz-field;
    border: 1px solid threeDDarkShadow;
  }

  .policeman-popup-button {
    margin: 1px;
    box-sizing: border-box;
  }
  .policeman-popup-button-inner {
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .policeman-popup-button-outer, .policeman-popup-button-inner {
    border-radius: 4px;
  }
  .policeman-popup-button[disabled="false"][selected="true"]
  .policeman-popup-button-inner,
  .policeman-popup-button[disabled="false"][checked="true"]
  .policeman-popup-button-inner{
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.25);
  }
  .policeman-popup-button[disabled="false"]
  .policeman-popup-button-inner:hover {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.15);
  }
  .policeman-popup-button[disabled="false"]
  .policeman-popup-button-inner:active {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.05);
  }
  .policeman-popup-button[disabled="false"]
  .policeman-popup-button-inner {
    background: rgba(255, 255, 255, 0.1);
  }
  .policeman-popup-button[disabled="true"]
  .policeman-popup-button-inner {
    background: rgba(0, 0, 0, 0.1);
  }

  .policeman-popup-value-rotation-button[disabled="false"]
  .policeman-popup-button-inner {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }
  #policeman-popup-ruleset-edit-container
  .policeman-popup-button-inner {
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  .policeman-popup-domain-button-hits-spacer {
    min-width: 2px;
  }
  .policeman-popup-button-allow-hits {
    padding: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: rgba(127, 255, 127, 0.1);
  }
  .policeman-popup-button-reject-hits {
    padding: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(255, 127, 127, 0.1);
  }

  #policeman-popup label.policeman-popup-label-aligned-like-button {
    margin-top: 3px; /* keep it aligned with button labels */
  }

  #policeman-popup-temporary-edit-container .policeman-existing-rules,
  #policeman-popup-persistent-edit-container .policeman-existing-rules {
    margin-left: 1em;
  }
  #policeman-popup-temporary-ruleset-container {
    font-style: italic;
  }

  .policeman-popup-rule {
    margin: 1px;
    border-radius: 4px;
  }
  .policeman-popup-rule-label {
    margin-top: 2px;
  }
  .policeman-popup-rule-reject {
    background: rgba(255, 0, 0, 0.1);
  }
  .policeman-popup-rule-allow {
    background: rgba(0, 255, 0, 0.1);
  }

  #policeman-popup-rejected-requests-filters-container
  .policeman-popup-button-outer {
    background: rgba(255, 0, 0, 0.1);
  }
  #policeman-popup-allowed-requests-filters-container
  .policeman-popup-button-outer {
    background: rgba(0, 255, 0, 0.1);
  }
}
