
#sidebar, #subpref-container {
  margin: 1.8em 0 0 1.8em;
}

.title {
  font-size: 1.8em;
  margin-left: 0;
}

#version-number {
  opacity: .5;
  margin-left: 0;
}

a {
  margin-top: .5em;
  font-size: 1.2em;
  display: block;
/*   color: -moz-nativehyperlinktext; */
  color: -moz-DialogText;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

richlistbox {
  margin: 0;
}

#enabled-rulesets-list .ruleset.dragover {
  box-shadow: inset 0 3px Highlight;
}
.ruleset-draggable-part * {
  pointer-events: none;
}
.ruleset-name, .ruleset-description, .ruleset-version  {
  font-size: 1.3em;
}
.ruleset-description {
  opacity: .8;
}
.ruleset-version {
  opacity: .6;
}
