
#sidebar, #subpref-container {
  margin: 1.8em 0 0 1.8em;
}

.title {
  font-size: 1.8em;
  margin-left: 0;
}

#version-number {
  opacity: .5;
  margin-left: 0;
}

label.text-link {
  font-size: 1.2em;
  display: block;
/*   color: -moz-nativehyperlinktext; */
  color: -moz-DialogText;
  text-decoration: none;
}

#sidebar label.text-link {
  display: block;
}

#sidebar ol {
  list-style-type: none;
  margin: 0;
}

#sidebar ol label.text-link {
  margin-bottom: .5em;
}

#sidebar ol ol {
  padding-left: 1em;
}

#subpref-links-list {
  padding-left: 0;
}

richlistbox {
  margin: 0;
}

.ruleset {
  border-bottom: 1px solid ThreeDShadow;
}
#enabled-rulesets-list .ruleset.dragover {
  box-shadow: inset 0 3px Highlight;
}
.ruleset-draggable-part * {
  pointer-events: none;
}
.ruleset-name, .ruleset-version {
  font-size: 1.3em;
}
.ruleset-description {
  opacity: .8;
}
.ruleset-version {
  opacity: .6;
}
